<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
   $(function(){ $(".menu").load('/templates/menu.html'); }); });
    </script>

</head>
<body>
<div class="menu"></div>

<h1 class="title_info">Главная страница</h1>
<p class="data">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, eveniet exercitationem incidunt ipsa omnis placeat
    praesentium quidem rem sequi. Doloribus, nisi pariatur praesentium rerum sapiente velit! Esse maxime nam
    veritatis.</p>
<h2 class="greeting_title">Добро пожаловать на сайт</h2>
<p class="data">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam culpa ducimus eaque enim facilis. Eveniet nesciunt
    omnis suscipit ullam! A aperiam facere inventore quo saepe vitae voluptate voluptates. Pariatur, sint!</p>
<p class="data">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam culpa ducimus eaque enim facilis. Eveniet nesciunt
    omnis suscipit ullam! A aperiam facere inventore quo saepe vitae voluptate voluptates. Pariatur, sint!</p>
<p class="data">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam culpa ducimus eaque enim facilis. Eveniet nesciunt
    omnis suscipit ullam! A aperiam facere inventore quo saepe vitae voluptate voluptates. Pariatur, sint!</p>

</body>
</html>