<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/menu.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<a href="/simple_3_page/templates/index.html" class="buttonMenu main_lnk">Главная</a>
<a href="/simple_3_page/templates/catalog/catalog.html" class="buttonMenu catalog_lnk">Каталог</a>
<a href="/simple_3_page/templates/contacts.html" class="buttonMenu contacts_lnk">Контакты</a>

</body>
</html>