* {
       margin: 0px;
       padding: 0px;
}
.header{
    padding-top: 39px;
    padding-bottom: 39px;
}

.navbar{
    padding-left: 40px;
}

.top__main_content {
    margin-top: 20px;
    margin-bottom: 100px;
}

.top__data_container > h1 {
    margin-bottom: 40px;
 }

.top__buttons_panel {
    margin-top: 50px;
     margin-bottom: 40px;
}
